#coursesBtn {
	font-family: 'Roboto Slab', serif;
	float: right;
	background-color:orange;
	-moz-border-radius:5px;
	border-radius:5px;
	cursor:pointer;
	padding:5px 10px;
}

#coursesBtn:hover {
	background-color: darkorange;
}

#coursesBtn:active {
	position:relative;
	top:1px;
}

.content input[type=button]{
    border: 0;
    background: rgba(255,0,0,0);
    color: black;
    cursor: pointer;
}