#coursesBtn {
	float: right;
	background-color: #F70;
	color: #FFF;
	padding:10px;
	border: 1px solid #F70;
	transition: 0.3s;
}

#courseButtonDiv{
	overflow: auto;
	
}

#coursesBtn:hover {
	background-color: #FFF;
	color: #F70;
	cursor:pointer;
}

