.contact
{
	font-size: 28px;
	margin-bottom: 15px;
}
.contents
{
	font-size: 18px;
	width: 100%;
	text-align: justify;
	float: left;
	margin-top: 10px;
}

label 
{
    display:block;
    margin-top:20px;
    letter-spacing:2px;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 90px;
}
textarea 
{
	width:439px;
	height:30px;
	background:#efefef;
	border:1px solid #dedede;
	padding:10px;
	margin-top:3px;
	font-size:0.9em;
	color:#3a3a3a;
	resize: none;
	
	
}
input
{
	margin-left: 360px;
	margin-top: 15px;
	height: 40px;
	border-radius: 10px;
	padding:10px;
	font-size:18px;
	color:#3a3a3a;

}
#comment
{
	height: 70px;
}
.form
{
	margin-top: 10px;	
}
#days,#hours
{
	float: left;
	margin-right: 30px;
}
li
{
	margin-bottom: 10px;
}
#blank
{
	float: left;
	height: 40px;
	width: 100%;
}