label{
	display: block;
	margin-bottom: 5px;
}

textarea{
	width: 400px;
	height: 200px;
	border: 1px solid #F70;
	padding: 5px;
	max-width: 100%;
}

input{
	width: 400px;
	border: 1px solid #F70;
	padding: 5px;
}

#submit{
	width: 130px;
	background-color: #F70;
	color: #FFF;
	padding:10px;
	border: 1px solid #F70;
	transition: 0.3s;
}

#submit:hover{
	background-color: #FFF;
	color: #F70;
	cursor:pointer;
}

td{
	height: 25px;
	width: 120px;
}

