@import url('./reset.css');
@import url('./main.css');

b{
	font-weight: bold;
}

article > h2{
	margin-top: 20px;
}

article ul{
	line-height: 1.3em;
	padding:0 10px 0px 0;
}

article ul li{
	line-height: 1.3em;
	padding:10px 0px;

}


div.overlayNoTransition{
	width:100%;
	height:100%;
	background:rgba(255,255,255,0.75);
	text-align: center;
	color: #F70;
	font-family: 'Roboto Slab', serif;
	font-size: 35px;
	font-weight: bold;
}

div.overlayNoTransition p{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.banner{
	height: 200px;
	width: 625px;
	margin: 10px auto;	
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#electronicMusic{
	background-image: url(../img/electronicMusic.gif);
}

#classicalInstruments{
	background-image: url(../img/classicalInstruments.gif);
}

#howToApply{
	background-image: url(../img/apply.gif);
}

#generalRequirements{
	background-image: url(../img/generalRequirements.gif);
}

#electricalEngineering{
	background-image: url(../img/electricalEngineering.gif);
}

#informationTechnology{
	background-image: url(../img/informationTechnology.gif);
}






