@import url('./reset.css');
@import url('./main.css');


#electricalEngineering{
	height: 200px;
	width: 625px;
	background-image: url(../img/ele.gif);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin: 10px auto;
}

.overlay p{
	transition: opacity 2s;
}

.overlay:hover p{
	opacity: 0;
}

article > h3{
	margin-top: 15px;
}




