@import url('./reset.css');
@import url('./main.css');

b{
	font-weight: bold;
}
#electricalEngineering{
	height: 200px;
	width: 625px;
	background-image: url(../img/ele2.gif);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin: 10px auto;
}
#informationTechnology{
	height: 200px;
	width: 625px;
	background-image: url(../img/it.gif);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin: 10px auto;
}
.overlay p{
	transition: opacity 1.5s;
}

.overlay:hover p{
	opacity: .3;
}

article > h2{
	margin-top: 30px;
}




