@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body{
	background: url(../img/background.jpg) no-repeat center center fixed;
	background-size: cover;
}

header{
	width: 100%;
	height: 75px;
	background: #FFF;
}

div#logo{
	width: 500px;
	height:100%;
	float:left;
}

#logo img{
	height: 100%;
	float: left;
	margin-right: 10px;
}

#vinci{
	font-family: 'Roboto Slab', serif;
	font-size: 26px;
	margin-top:7px;
}

#learn{
	font-size: 19px;
	font-family: 'Satisfy', cursive;
	margin-top:7px;
}

div#flag{
	float: right;
	margin-top:15px;
}

#flag img{
	width: 40px;
}

h2{
	font-family: 'Roboto Slab', serif;
	color: #F70;
	font-size: 35px;
	line-height: 1.2em;
	margin-bottom: 20px;
}


div#headWrap{
	width: 1000px;
	margin: 0 auto;
	height: 100%;
	padding: 5px 20px;
}

#flag{
	height: 20px;
	float: right;
}

div#navWrap{
	width: 100%;
	height: 50px;
	background: #F70;
}

nav{
	width: 1000px;
	height: 100%;
	margin: 0 auto;
	padding-left: 20px;
}

nav > ul{
	display: block;
	height: 100%;
	float: left;
}

nav > ul > li{
	display:block;
	float: left;
	height: 100%;
	line-height: 50px;
	vertical-align: middle;
	font-family: 'Roboto', sans-serif;
	color: #FFF;
	transition: 0.3s;
}

nav > ul > li:hover{
	background: #FFF;
	color: #F70;
}

nav > ul > li > a{
	display: block;
	padding: 0px 20px;
	height: 100%;
	color: inherit;
	text-decoration: none;
}

div#navImg{
	width: 50px;
	height: 50px;
	float: left;
	background: #ff0;
}
div.wrapper{
	width: 1000px;
	padding: 0px 20px;
	padding-bottom: 20px;
	margin: 20px auto;
	background: rgba(255,255,255,0.5);
	overflow: auto;
}

div#content{
	width: 665px;
	float: left;
}

aside{
	width: 275px;
	height: 500px;
	margin-top:20px;
	float: right;
}

aside > div{
	background-color: #FFF;
	width: 100%;
	padding: 20px;
	margin-bottom: 20px
}

aside > div > div{
	height: 50px;
	width: calc(100% / 3);
	text-align: center;
	float: left;
}

#social{
	overflow: auto;
	padding: 20px 0px;
}

aside > div > div > img{
	height: 100%;
}

article{
	width:100%;
	min-height: 250px;
	padding: 20px;
	margin-top:20px;
	background: #FFF;
}

article p{
	line-height: 1.3em;
	font-family: 'Roboto', sans-serif;
	padding:10px 0px;
}

footer{
	width: 100%;
	height: 200px;
	background: #F70;
}

div#footbar{
	width: 100%;
	height: 20px;
	background: #FFF;
}

div.footWrap{
	width: 1000px;
	margin: 0 auto;
	height: 100%;
}

div.footBox{
	width: 33%;
	height: 100%;
	padding: 20px;
	float: left;

	color: #FFF;
	font-family: 'Roboto', sans-serif;
}

div#footbar{
	font-family: 'Roboto', sans-serif;
}

span#copy{
	display: block;
	float: right;
}

h3{
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	margin-bottom: 10px;
}

.dualbox{
	background-color: rgba(255,255,255,0);
	overflow: auto;
	padding: 0px;
}

div.indexbox{
	width: 322px;
	height:250px;
}

.indexbox > a{
	text-decoration: none;
	color: inherit;
}

div#campusbox{
	
	float: left;
	background: url(../img/campus.jpg) no-repeat center center;
	background-size: cover;
}

div#coursebox{
	float: right;
	background: url(../img/courses.jpg) no-repeat center center;
	background-size: cover;
}

div.overlay{
	width:100%;
	height:100%;
	background:rgba(255,255,255,0.75);
	text-align: center;
	vertical-align: middle;
	line-height: 250px;
	color: #F70;
	font-family: 'Roboto Slab', serif;
	font-size: 35px;
	font-weight: bold;
	transition: 0.5s;
}

.overlay:hover{
	background:rgba(255,255,255,0);
}