*{
	margin: 0px;
	padding: 0px;
}

body{
	background: url(../img/background.jpg) no-repeat center center fixed;
	background-size: cover;
}

header{
	width: 100%;
	height: 75px;
	background: #FFF;
}

div#headWrap{
	width: 1000px;
	margin: 0 auto;
	height: 100%;
	padding: 5px 20px;
}

div#navWrap{
	width: 100%;
	height: 50px;
	background: #F70;
}

nav{
	width: 1000px;
	height: 100%;
	margin: 0 auto;
	padding-left: 20px;
}

nav > ul{
	display: block;
	height: 100%;
	float: left;
}

nav > ul > li{
	display:block;
	float: left;
	height: 100%;
	line-height: 50px;
	vertical-align: middle;
	font-family: 'Roboto', sans-serif;
	color: #FFF;
	transition: 0.3s;
}

nav > ul > li:hover{
	background: #FFF;
	color: #F70;
}

nav > ul > li > a{
	display: block;
	padding: 0px 20px;
	height: 100%;
	color: inherit;
	text-decoration: none;
}

div#navImg{
	width: 50px;
	height: 50px;
	float: left;
	background: #ff0;
}
div.wrapper{
	width: 1000px;
	padding: 0px 20px;
	padding-bottom: 20px;
	margin: 20px auto;
	background: rgba(255,255,255,0.5);
	overflow: auto;
}

div#content{
	width: 665px;
	float: left;
}

aside{
	width: 275px;
	height: 500px;
	margin-top:20px;
	float: right;
}

aside > div{
	background-color: #FFF;
	width: 100%;
	padding: 20px;
	margin-bottom: 20px
}

aside > div > div{
	height: 50px;
	width: calc(100% / 3);
	text-align: center;
	float: left;
}

#social{
	overflow: auto;
	padding: 20px 0px;
}

aside > div > div > img{
	height: 100%;
}

article{
	width:100%;
	height: 300px;
	padding: 20px;
	margin-top:20px;
	background: #FFF;
}

footer{
	width: 100%;
	height: 200px;
	background: #F70;
}

div#footbar{
	width: 100%;
	height: 20px;
	background: #FFF;
}

div.footWrap{
	width: 1000px;
	margin: 0 auto;
	height: 100%;
}

div.footBox{
	width: 33%;
	height: 100%;
	padding: 20px;
	float: left;

	color: #FFF;
	font-family: 'Roboto', sans-serif;
}

h3{
	font-size: 20px;
	margin-bottom: 10px;
}