@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body{
	background: url('../img/background.jpg') no-repeat center center fixed;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
}

header{
	width: 100%;
	height: 75px;
	background: #FFF;
}

div.logo{
	width: 500px;
	height:100%;
	float:left;
}

.logo img{
	height: 100%;
	float: left;
	margin-right: 10px;
}

.vinci{
	font-family: 'Roboto Slab', serif;
	font-size: 26px;
	margin-top:7px;
}

.learn{
	font-size: 19px;
	font-family: 'Satisfy', cursive;
	margin-top:7px;
}

div.flag{
	float: right;
	margin-top:15px;
}

.flag img{
	width: 40px;
}

h2{
	font-family: 'Roboto Slab', serif;
	color: #F70;
	font-size: 35px;
	line-height: 1.2em;
	margin-bottom: 20px;
}


div.headWrap{
	width: 1000px;
	margin: 0 auto;
	height: 100%;
	padding: 5px 20px;
}

.flag{
	height: 20px;
	float: right;
}

div.navWrap{
	width: 100%;
	height: 50px;
	background: #F70;
}

nav{
	width: 1000px;
	height: 100%;
	margin: 0 auto;
	padding-left: 20px;
}

nav > ul{
	display: block;
	height: 100%;
	float: left;
}

nav > ul > li{
	display:block;
	float: left;
	height: 100%;
	line-height: 50px;
	vertical-align: middle;
	color: #FFF;
	transition: 0.3s;
}

nav > ul > li:hover{
	background: #FFF;
	color: #F70;
}

nav > ul > li > a{
	display: block;
	padding: 0px 20px;
	height: 100%;
	color: inherit;
	text-decoration: none;
}
nav > ul > li.active{
	background: #FFF;
	color: #F70;
}

div.wrapper{
	width: 1000px;
	padding: 0px 20px;
	padding-bottom: 20px;
	margin: 20px auto;
	background: rgba(255,255,255,0.5);
	overflow: auto;
}

div.content{
	width: 665px;
	float: left;
}

aside{
	width: 275px;
	height: 500px;
	margin-top:20px;
	float: right;
}

aside > div{
	background-color: #FFF;
	width: 100%;
	padding: 20px;
	margin-bottom: 20px
}

aside > div > div{
	height: 50px;
	width: calc(100% / 3);
	text-align: center;
	float: left;
}

.social{
	overflow: auto;
	padding: 20px 0px;
}

.socialimg{
	height: 100%;
}

article{
	width:100%;
	min-height: 250px;
	padding: 20px;
	margin-top:20px;
	background: #FFF;
}
/*STUFF KARIN ADDED FOR THE SIDEBAR*/
aside{
	height: auto;
}
aside div {
	float: left;
}

aside div div.newsitem_sidebar{
	min-height: 60px;
	height: auto;
	width: 100%;
	text-align: left;
	float: left;
	margin-bottom: 10px;
}
aside div div.newsitem_sidebar:last-child{
	margin-bottom: 0;
}
aside div div.newsitem_sidebar h3{
	color: #ff6600;
	font-size: 18px;
	margin-bottom: 0;
}
aside div div.newsitem_sidebar p{
	font-size: 14px;
	margin-top: 5px;
}
aside div.weather h3{
	color: #ff6600;
	font-size: 18px;
}
aside div.weather div{
	width: 80px;
	height: 70px;
	float: left;
}
aside div.weather div:last-child{
	margin-left: 10px;
	width: 140px;
}
aside div.weather div.weather_img img{
	height: 60px;
	margin-top: 5px;
}
aside div.weather div.weather_info h4{
	color: #929292;
	margin-top: 10px;
	font-size: 20px;
}
aside div.weather div.weather_info p{
	color: #ff6600;
	margin-top: 5px;
	font-size: 28px;
}
/*END STUFF KARIN ADDED*/

article p{
	line-height: 1.3em;
	padding:10px 0px;
}

footer{
	width: 100%;
	height: 200px;
	background: #F70;
}

div.footbar{
	width: 100%;
	height: 20px;
	background: #FFF;
}

div.footWrap{
	width: 1000px;
	margin: 0 auto;
	height: 100%;
}

div.footBox{
	width: 33%;
	height: 100%;
	padding: 20px;
	float: left;
	color: #FFF;
}


span.copy{
	display: block;
	float: right;
}

h3{
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	margin-bottom: 10px;
}

.dualbox{
	background-color: rgba(255,255,255,0);
	overflow: auto;
	padding: 0px;
}

div.indexbox{
	width: 322px;
	height:250px;
}

.indexbox > a{
	text-decoration: none;
	color: inherit;
}

div#campusbox{
	
	float: left;
	background: url('../img/campus.jpg') no-repeat center center;
	background-size: cover;
}

div#coursebox{
	float: right;
	background: url('../img/courses.jpg') no-repeat center center;
	background-size: cover;
}

div.overlay{
	width:100%;
	height:100%;
	background:rgba(255,255,255,0.75);
	text-align: center;
	color: #F70;
	font-family: 'Roboto Slab', serif;
	font-size: 35px;
	font-weight: bold;
	transition: 0.5s;
}
div.overlay p{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.overlay:hover{
	background:rgba(255,255,255,0);
}

a:link{
	text-decoration: none;
	color: inherit;
}

a:visited{
	text-decoration: none;
	color: inherit;
}

#openDay > input[type='text']{
	width: 100%;
	border: 1px solid #FFF;
	padding: 5px;
	margin: 5px 0px;
	background-color: #FFF;
	color: #F70;
	transition: background-color 0.3s;
}
#openDay > input[type='text']:focus{
	background-color: #F70;
	color: #FFF;
}

#openDay >::-webkit-input-placeholder { /* Chrome */
  color: #F70;
  opacity: 0.6;
}
#openDay >:-ms-input-placeholder { /* IE 10+ */
  color: #F70;
  opacity: 0.6;
}
#openDay >::-moz-placeholder { /* Firefox 19+ */
  color: #F70;
  opacity: 0.6;
}
#openDay >:-moz-placeholder { /* Firefox 4 - 18 */
  color: #F70;
  opacity: 0.6;
}

input[type='submit']{
	width: 100px;
	float: right;
	height: 30px;
	margin-top: 10px;
	transition: 0.3s;
}

input[type='submit']:hover{
	background-color: #FFF;
	color: #F70;
	cursor: pointer;
}
