*{
	margin: 0px;
	padding: 0px;
}

body{
	background: url(../img/background.jpg) no-repeat center center fixed;
	background-size: cover;
}

header{
	width: 100%;
	height: 75px;
	background: #FFF;
}

nav{
	width: 100%;
	height: 50px;
	background: #F70;
}

div.wrapper{
	width: 1000px;
	padding: 0px 20px;
	padding-bottom: 20px;
	margin: 20px auto;
	background: rgba(255,255,255,0.5);
	overflow: auto;
}

div#content{
	width: 665px;
	float: left;
}

aside{
	width: 275px;
	height: 500px;
	margin-top:20px;
	float: right;
	background: #FFF;
}

article{
	width:100%;
	height: 300px;
	margin-top:20px;
	background: #FFF;
}

footer{
	width: 100%;
	height: 200px;
	background: #F70;
}

div#footbar{
	width: 100%;
	height: 20px;
	background: #FFF;
}