
div#content article{
	height: auto;
}
div#content article div{
	height: 30px;

	}
div#content article h2{
	margin-bottom: 10px;
}
div#content article span{
	float: left;
	color: #929292;
	width: 100%;
	margin-bottom: 25px;
}

aside{
	height: auto;
}
aside div {
	float: left;
}
aside div img {
	float: right;
}
aside div div.newsitem_sidebar{
	min-height: 60px;
	height: auto;
	width: 100%;
	text-align: left;
	float: left;
	margin-bottom: 10px;
}
aside div div.newsitem_sidebar:last-child{
	margin-bottom: 0;
}
aside div div.newsitem_sidebar h3{
	color: #ff6600;
	font-size: 18px;
	margin-bottom: 0;
}
aside div div.newsitem_sidebar p{
	font-size: 14px;
	margin-top: 5px;
}